<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>sasaТакси — Заказ</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/forms.css">
</head>
<body>

<div class="app-container">
    <header>
        <a href="index.html" class="logo">🍊 sasaGo</a>
        <div class="balance-card">Sasa Плюс: 500 Б</div>
    </header>

    <main class="content">
        <a href="index.html" class="btn btn-back">← На главную</a>
        <h2>🚖 sasaТакси — Заказ поездки</h2>

        <div class="form-box">
            <div class="input-group">
                <label>Откуда:</label>
                <input type="text" value="ул. Пушкина, 10">
            </div>
            <div class="input-group">
                <label>Куда:</label>
                <input type="text" value="ул. Ленина, 25">
            </div>
            <p style="font-weight: bold;">Расчетная стоимость: 450 ₽</p>
            <button class="btn" onclick="alert('Такси выехало!')">Заказать такси</button>
        </div>
    </main>
</div>

</body>
</html>